# Pandas Project

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("D:\Basic Python\Cars93.csv")
df

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,NaN,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,NaN,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,NaN,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

## 1.Find out cars having mileage of more than 15 miles in city?

In [10]:
df[(df["MPG.city"]>15)] [["id","Model","Type","MPG.city"]]

    id    Model     Type  MPG.city
0    1  Integra    Small        25
1    2   Legend  Midsize        18
2    3       90  Compact        20
3    4      100  Midsize        19
4    5     535i  Midsize        22
..  ..      ...      ...       ...
88  89  Eurovan      Van        17
89  90   Passat  Compact        21
90  91  Corrado   Sporty        18
91  92      240  Compact        21
92  93      850  Midsize        20

[91 rows x 4 columns]

## 2.Find out the cars with mileage in city more than 15 which are compact in type?

In [11]:
df[(df["MPG.city"]>15) & (df.Type=="Compact")]

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
11,12,Chevrolet,Cavalier,Compact,8.5,13.4,18.3,25,36,NaN,...,5,182,101,66,38,25.0,13.0,2490,USA,Chevrolet Cavalier
12,13,Chevrolet,Corsica,Compact,11.4,11.4,11.4,25,34,Driver only,...,5,184,103,68,39,26.0,14.0,2785,USA,Chevrolet Corsica
20,21,Chrysler,LeBaron,Compact,14.5,15.8,17.1,23,28,Driver & Passenger,...,6,183,104,68,41,30.5,14.0,3085,USA,Chrysler LeBaron
24,25,Dodge,Spirit,Compact,11.9,13.3,14.7,22,27,Driver only,...,6,181,104,68,39,30.5,14.0,2970,USA,Dodge Spirit
32,33,Ford,Tempo,Compact,10.4,11.3,12.2,22,27,NaN,...,5,177,100,68,39,27.5,13.0,2690,USA,Ford Tempo
42,43,Honda,Accord,Compact,13.8,17.5,21.2,24,31,Driver & Passenger,...,4,185,107,67,41,28.0,14.0,3040,non-USA,Honda Accord
54,55,Mazda,626,Compact,14.3,16.5,18.7,26,34,Driver only,...,5,184,103,69,40,29.5,14.0,2970,non-USA,Mazda 626
57,58,Mercedes-Benz,190E,Compact,29.0,31.9,34.9,20,29,Driver only,...,5,175,105,67,34,26.0,12.0,2920,non-USA,Mercedes-Benz 190E
64,65,Nissan,Altima,Compact,13.0,15.7,18.3,24,30,Driver only,...,5,181,103,67,40,28.5,14.0,3050,non-USA,Nissan Altima
67,68,Oldsmobile,Achieva,Compact,13.0,13.5,14.0,24,31,NaN,...,5,188,103,67,39,28.0,14.0,2910,USA,Oldsmobile Achieva
73,74,Pontiac,Sunbird,Compact,9.4,11.1,12.8,23,31,NaN,...,5,181,101,66,39,25.0,13.0,2575,USA,Pontiac Sunbird
77,78,Saab,900,Compact,20.3,28.7,37.1,20,26,Driver only,...,5,184,99,67,37,26.5,14.0,2775,non-USA,Saab 900
81,82,Subaru,Legacy,Compact,16.3,19.5,22.7,23,30,Driver only,...,5,179,102,67,37,27.0,14.0,3085,non-USA,Subaru Legacy
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,NaN,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240

## 3.Find out Models of cars which are having Price between 17 & 25?

In [12]:
df[(df.Price>17)&(df.Price<25)][["id","Manufacturer","Model","Price"]]

    id Manufacturer           Model  Price
6    7        Buick         LeSabre   20.8
7    8        Buick      Roadmaster   23.7
17  18    Chevrolet         Caprice   18.8
19  20     Chrylser        Concorde   18.4
25  26        Dodge         Caravan   19.0
29  30        Eagle          Vision   19.3
35  36         Ford        Aerostar   19.9
36  37         Ford          Taurus   20.2
37  38         Ford  Crown_Victoria   20.9
40  41        Honda         Prelude   19.8
42  43        Honda          Accord   17.5
55  56        Mazda             MPV   19.1
65  66       Nissan           Quest   19.1
66  67       Nissan          Maxima   21.5
69  70   Oldsmobile      Silhouette   19.5
70  71   Oldsmobile    Eighty-Eight   20.7
74  75      Pontiac        Firebird   17.7
75  76      Pontiac      Grand_Prix   18.5
76  77      Pontiac      Bonneville   24.4
81  82       Subaru          Legacy   19.5
84  85       Toyota          Celica   18.4
85  86       Toyota           Camry   18.2
86  87       Toyota          Previa   22.7
88  89   Volkswagen         Eurovan   19.7
89  90   Volkswagen          Passat   20.0
90  91   Volkswagen         Corrado   23.3
91  92        Volvo             240   22.7

## 4.Find out the cars with US based origin?

In [13]:
df[(df.Origin=="USA")][["Model","Origin"]]

             Model Origin
5          Century    USA
6          LeSabre    USA
7       Roadmaster    USA
8          Riviera    USA
9          DeVille    USA
10         Seville    USA
11        Cavalier    USA
12         Corsica    USA
13          Camaro    USA
14          Lumina    USA
15      Lumina_APV    USA
16           Astro    USA
17         Caprice    USA
18        Corvette    USA
19        Concorde    USA
20         LeBaron    USA
21        Imperial    USA
22            Colt    USA
23          Shadow    USA
24          Spirit    USA
25         Caravan    USA
26         Dynasty    USA
27         Stealth    USA
28          Summit    USA
29          Vision    USA
30         Festiva    USA
31          Escort    USA
32           Tempo    USA
33         Mustang    USA
34           Probe    USA
35        Aerostar    USA
36          Taurus    USA
37  Crown_Victoria    USA
50     Continental    USA
51        Town_Car    USA
59           Capri    USA
60          Cougar    USA
67         Achieva    USA
68   Cutlass_Ciera    USA
69      Silhouette    USA
70    Eighty-Eight    USA
71           Laser    USA
72          LeMans    USA
73         Sunbird    USA
74        Firebird    USA
75      Grand_Prix    USA
76      Bonneville    USA
78              SL    USA

##  5.Find out cars with no airbag and which are compact in type?

In [14]:
df[(df.AirBags=='NaN') & (df.Type=='Compact')][['Model','MPG.city','Type','AirBags']]

Empty DataFrame
Columns: [Model, MPG.city, Type, AirBags]
Index: []

## 6. Find out car having highest Mileage in city?

In [5]:
df1=df.sort_values(by=['MPG.city'],ascending=False).head(1)[['id','Model','Manufacturer','MPG.city']]
df1

    id  Model Manufacturer  MPG.city
38  39  Metro          Geo        46

## 7. Find out top 7 most fuel economic cars for highway?

In [6]:
df.sort_values(by=['MPG.highway'],ascending=False).iloc[0:7][['Model','Manufacturer','MPG.highway']]

     Model Manufacturer  MPG.highway
38   Metro          Geo           50
41   Civic        Honda           46
82   Swift       Suzuki           43
72  LeMans      Pontiac           41
78      SL       Saturn           38
83  Tercel       Toyota           37
79   Justy       Subaru           37

## 8.Find out Models of cars having AirBags and which are of compact type whose price is below 20?

In [7]:
df['AirBags']=df['AirBags'].fillna(df['AirBags'].mode().iloc[0])

In [8]:
df2=df[(df.AirBags!='None') &(df.Type=='Compact') & (df.Price<20.0)][['Model','Manufacturer','AirBags','Type','Price']]
df2

       Model Manufacturer             AirBags     Type  Price
11  Cavalier    Chevrolet         Driver only  Compact   13.4
12   Corsica    Chevrolet         Driver only  Compact   11.4
20   LeBaron     Chrysler  Driver & Passenger  Compact   15.8
24    Spirit        Dodge         Driver only  Compact   13.3
32     Tempo         Ford         Driver only  Compact   11.3
42    Accord        Honda  Driver & Passenger  Compact   17.5
54       626        Mazda         Driver only  Compact   16.5
64    Altima       Nissan         Driver only  Compact   15.7
67   Achieva   Oldsmobile         Driver only  Compact   13.5
73   Sunbird      Pontiac         Driver only  Compact   11.1
81    Legacy       Subaru         Driver only  Compact   19.5

## 9.Find out top 7 most fuel economic cars for city, show results in sorted manner based on Horsepower?

In [9]:
df3=df.sort_values(by=['MPG.city'],ascending=False).iloc[0:7][['Model','Manufacturer','Horsepower','MPG.city']]
df3.sort_values(by=['Horsepower'])

      Model Manufacturer  Horsepower  MPG.city
38    Metro          Geo          55        46
30  Festiva         Ford          63        31
82    Swift       Suzuki          70        39
79    Justy       Subaru          73        33
72   LeMans      Pontiac          74        31
83   Tercel       Toyota          82        32
41    Civic        Honda         102        42